<script lang="ts">
    import { onMount } from "svelte";
    import TakeCards from "./TakeCards/TakeCards.svelte";
	import WaitUsers from "./WaitUsers.svelte";
    import { socket } from "$lib/store/socket";
    import { PUBLIC_SERVER_URL } from "$env/static/public";
    import { page } from "$app/stores";

	let room: any;
	let room_status: string;

	const getRoomData = async () => {
		try {
			const response = await fetch(PUBLIC_SERVER_URL + `room/${ $page.params.id }`)

			if (!response.ok) {
				throw "Can't get room data";
			}

			const result = await response.json();
			
			return result;
		} catch (error) {
			throw error;
		}
	}

	const changeStatus = (event) => {
		socket.emit("changeStatusRoom", {room_id: room["_id"], status: event.detail.status})
	}

	onMount(async() => {
		// При заходе на страницу нужно отправить на сервер запрос на подключение к комнате
		
		socket.emit("joinRoom", {
			user_id: window.localStorage.getItem("user_id"),
			room_id: $page.params.id
		});

		// Получаем информацию про комнату
		room = await getRoomData();

		room_status = room.status
	})

	socket.on("newUserJoined", (result) => {
		socket.emit("roomUsers", $page.params.id)
	})

	socket.on("getChangeStatusRoom", (result) => {
		console.log("hello world", result);
		room_status = result;
		console.log(room_status);
	})
</script>

{#if room}
	<div class="content">
		<WaitUsers {room} on:handleButton={ changeStatus } room_status={ room_status } />
		<TakeCards room_status={ room_status } roomConfig={ room.config } room_id={ room["_id"] } on:handleButton={ changeStatus } />
		
		{#if room_status === "game_session"}
			start Game
		{/if}
	</div>
{/if}


<style>
	.content {
		width: 100%;
	}
</style>