<script lang="ts">
    import { socket } from "$lib/store/socket";
    import { createEventDispatcher, onMount } from "svelte";
    import { writable, type Writable } from "svelte/store";

	export let room: any;
	export let room_status: string;

	const dispatch = createEventDispatcher();

	interface User {
		_id: string,
		name: string,
	}

	let users: Writable<User[]> = writable([]);

	onMount(() => {
		socket.emit("roomUsers", room["_id"])
	})

	const handleButton = (event) => {
		dispatch("handleButton", {
			status: "take_cards",
		})
	}

	socket.on("getRoomUsers", (result: User[]) => users.set(result));


	socket.on("getChangeName", (result) => {
		users.update(currentUsers => {
			const index = currentUsers.findIndex(u => u._id === result._id);
			
			if (index !== -1) {
				currentUsers[index].name = result.name;
			} else {
				currentUsers.push(result);
			}

			return [...currentUsers];
		});
	})
</script>
<div class="wait_users" class:hidden={ room_status !== "wait_user" }>
	<div class="user_expectation">
		<h3>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13 11V6H11V13H16V11H13Z" fill="#ffef3d"/>
				<path d="M21 5V4H20V3H19V2H5V3H4V4H3V5H2V19H3V20H4V21H5V22H19V21H20V20H21V19H22V5H21ZM20 17H19V18H18V19H17V20H7V19H6V18H5V17H4V7H5V6H6V5H7V4H17V5H18V6H19V7H20V17Z" fill="#ffef3d"/>
			</svg>
			Ожидание пользователей
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13 11V6H11V13H16V11H13Z" fill="#ffef3d"/>
				<path d="M21 5V4H20V3H19V2H5V3H4V4H3V5H2V19H3V20H4V21H5V22H19V21H20V20H21V19H22V5H21ZM20 17H19V18H18V19H17V20H7V19H6V18H5V17H4V7H5V6H6V5H7V4H17V5H18V6H19V7H20V17Z" fill="#ffef3d"/>
			</svg>
		</h3>

		<div style="font-size: 14px; color: rgba(255, 255, 255, 0.5); margin: 0;">
			Осталось еще {Object.values(room.config).reduce((acc, current) => acc + current, 0) - $users.length} человек
		</div>
		<div class="user-list">
			{#if $users && $users.length > 0}
				{#each $users as user}
					<div class="user__item">
						<div class="userStatus" class:isAdmin={ user.isAdmin }></div>
						{user.name}
					</div>
				{/each}
			{/if}
		</div>
	</div>

	<input type="text" value="http://localhost:5173/room/{ room && room["_id"] ? room["_id"] : "..." }" disabled>
	<button class="main_btn" on:click={handleButton} disabled={ Object.values(room.config).reduce((acc, current) => acc + current, 0) - $users.length !== 0 }>Начать игру 
		{#if Object.values(room.config).reduce((acc, current) => acc + current, 0) - $users.length !== 0}
			[недостаточно игроков]
		{/if}
	</button>
</div>


<style>
	.wait_users {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	input[type="text"] {
		width: 100%;
	}

	.user_expectation {
		border: 1px solid rgba(255, 255, 255, 0.1);
		padding: 15px;
		text-align: center;
	}

	.user_expectation h3 {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.user_expectation .user-list {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
	}

	.user_expectation .user__item {
		font-size: 13px;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}

	.user_expectation .user__item .userStatus {
		width: 8px;
		height: 8px;
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 1px;
	}

	.user_expectation .user__item .isAdmin {
		border-color: #ffef3d;
	}
	

	h3 {
		text-transform: uppercase;
		color: #ffef3d;
		margin: 0;
	}

	.hidden {
		display: none;
	}
</style>