<script lang="ts">
    import { login } from "$lib/store/user.js";
    import { socket } from "$lib/store/socket";
    import { goto } from "$app/navigation";


	let roomConfig = {
		numPeaceful: 1,
		numMafia: 1,
		numDoctor: 1,
		numDetectives: 1,
	};
	
	const createRoom = (config: { numPeaceful: number, numMafia: number, numDoctor: number, numDetectives: number }) => {
		// Отправка запроса на сервер (socket.io)
		socket.emit("createRoom", config);
	}

	// Прослушивание ответа от сервера (socket.io)
	socket.on("roomCreated", (result) => {
		goto(`room/${result.insertedId}`);
	});
	
	// Прослушивание ответа от сервера (socket.io)
	socket.on("error", (errorMessage) => {
		console.log("Ошибка:", errorMessage);
	});
</script>

<div class="room_config">
	<div class="characters">
		<strong>Персонажи x{ Object.values(roomConfig).reduce((acc, current) => acc + current, 0) }</strong>
		<div class="characters_list">
			<div class="characters__item">
				Мирные
				<input type="number" min="1" max="99" bind:value={ roomConfig.numPeaceful }>
			</div>
			<div class="characters__item">
				Мафия
				<input type="number" min="1" max="99" bind:value={ roomConfig.numMafia }>
			</div>
			<div class="characters__item">
				Врачи
				<input type="number" min="1" max="99" bind:value={ roomConfig.numDoctor }>
			</div>
			<div class="characters__item">
				Комиссары
				<input type="number" min="1" max="99" bind:value={ roomConfig.numDetectives }>
			</div>
		</div>
	</div>

	<button on:click={() => createRoom(roomConfig)} class="main_btn" disabled={ $login === "" }>
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6 12H7V13H13V12H14V11H15V5H14V4H13V3H7V4H6V5H5V11H6V12ZM7 7H8V6H9V5H11V6H12V7H13V9H12V10H11V11H9V10H8V9H7V7Z" fill="black"/>
			<path d="M16 15H15V14H4V15H3V16H2V21H4V18H5V17H6V16H13V17H14V18H15V21H17V16H16V15Z" fill="black"/>
			<path d="M18 12H19V11H20V5H19V4H18V3H17H16V6H17V7H18V8V9H17V10H16V13H18V12Z" fill="black"/>
			<path d="M21 16V15H20V14H18V17H19V18H20V21H22V16H21Z" fill="black"/>
		</svg>
		Создать игру
	</button>
</div>


<style>
	.room_config {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	
	.room_config .characters {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.room_config .characters .characters_list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.room_config .characters__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid rgba(255, 255, 255, 0.1);
		padding: 10px 15px;
		color: rgba(255, 255, 255, 0.5);
		font-size: 15px;
		width: 100%;
		background: transparent;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	input[type='number'],
	input[type="number"]:hover,
	input[type="number"]:focus {
		appearance: none;
		-moz-appearance: textfield;
	}

	.room_config .characters__item input {
		color: #fff;
		text-align: right;
		border: none;
		background: none;
	}
</style>