
input {
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px 15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
	background: transparent;
}

.main_btn {
	background-color: #ffef3d;
	padding: 10px 70px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: .3s;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #000;
	text-align: center;
	display: flex;
	justify-content: center;
}

.main_btn:disabled {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: not-allowed;
	color: rgba(255, 255, 255, 0.3);
}

.main_btn svg path {
	transition: .3s;
}

.main_btn:disabled svg path {
	fill: rgba(255, 255, 255, 0.3);
}

.main_btn:not(:disabled):hover {
	background: none;
	border-color:#fff;
	color: #fff;
}

.main_btn:not(:disabled):hover svg path {
	fill: #fff;
}