<script lang="ts">
    import { createEventDispatcher } from "svelte";

	let moveUp: boolean = false;
	export let id: number;

	const dispatch = createEventDispatcher();

	const handleButton = () => {
		moveUp = true;
		dispatch("handleButton", {})
	}
</script>

<div class="card__item-block">
	<button class="card__item" on:click={handleButton} class:move-up={ moveUp }>
		<svg width="109" height="27" viewBox="0 0 109 27" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.875 23.875V22.3125H23.4375V23.875H21.875ZM23.4375 22.3125V20.75H25V22.3125H23.4375ZM18.75 25.4375V14.5H1.5625V25.4375H6.25V19.1875H7.8125V25.4375H12.5V19.1875H14.0625V25.4375H18.75ZM0 27V12.9375H1.5625V11.375H3.125V12.9375H20.3125V23.875H21.875V25.4375H20.3125V27H0ZM20.3125 12.9375V11.375H21.875V12.9375H20.3125ZM3.125 11.375V9.8125H4.6875V11.375H3.125ZM21.875 11.375V9.8125H23.4375V11.375H21.875ZM4.6875 9.8125V8.25H6.25V9.8125H4.6875ZM25 20.75V9.8125H23.4375V8.25H6.25V6.6875H26.5625V20.75H25ZM34.668 23.875V22.3125H36.2305V23.875H34.668ZM44.043 23.875V22.3125H45.6055V23.875H44.043ZM45.6055 22.3125V20.75H47.168V22.3125H45.6055ZM40.918 25.4375V14.5H29.9805V17.625H36.2305V19.1875H29.9805V25.4375H40.918ZM28.418 27V12.9375H29.9805V11.375H31.543V12.9375H42.4805V23.875H44.043V25.4375H42.4805V27H28.418ZM42.4805 12.9375V11.375H44.043V12.9375H42.4805ZM31.543 11.375V9.8125H33.1055V11.375H31.543ZM44.043 11.375V9.8125H45.6055V11.375H44.043ZM33.1055 9.8125V8.25H34.668V9.8125H33.1055ZM47.168 20.75V9.8125H45.6055V8.25H34.668V6.6875H48.7305V20.75H47.168ZM59.9609 23.875V22.3125H61.5234V23.875H59.9609ZM66.2109 17.625V16.0625H67.7734V17.625H66.2109ZM67.7734 16.0625V14.5H69.3359V16.0625H67.7734ZM66.2109 11.375V9.8125H67.7734V11.375H66.2109ZM56.8359 25.4375V19.1875H63.0859V14.5H56.8359V12.9375H63.0859V8.25H52.1484V25.4375H56.8359ZM50.5859 27V6.6875H52.1484V5.125H53.7109V6.6875H64.6484V11.375H66.2109V12.9375H64.6484V17.625H66.2109V19.1875H64.6484V20.75H63.0859V22.3125H61.5234V20.75H58.3984V23.875H59.9609V25.4375H58.3984V27H50.5859ZM64.6484 6.6875V5.125H66.2109V6.6875H64.6484ZM53.7109 5.125V3.5625H55.2734V5.125H53.7109ZM66.2109 5.125V3.5625H67.7734V5.125H66.2109ZM55.2734 3.5625V2H56.8359V3.5625H55.2734ZM69.3359 14.5V9.8125H67.7734V8.25H69.3359V3.5625H67.7734V2H56.8359V0.4375H70.8984V14.5H69.3359ZM82.1289 23.875V22.3125H83.6914V23.875H82.1289ZM83.6914 22.3125V20.75H85.2539V22.3125H83.6914ZM79.0039 25.4375V14.5H74.3164V25.4375H79.0039ZM82.1289 11.375V9.8125H83.6914V11.375H82.1289ZM79.0039 12.9375V8.25H74.3164V12.9375H79.0039ZM72.7539 27V6.6875H74.3164V5.125H75.8789V6.6875H80.5664V11.375H82.1289V12.9375H80.5664V23.875H82.1289V25.4375H80.5664V27H72.7539ZM80.5664 6.6875V5.125H82.1289V6.6875H80.5664ZM75.8789 5.125V3.5625H77.4414V5.125H75.8789ZM82.1289 5.125V3.5625H83.6914V5.125H82.1289ZM77.4414 3.5625V2H79.0039V3.5625H77.4414ZM85.2539 20.75V9.8125H83.6914V8.25H85.2539V3.5625H83.6914V2H79.0039V0.4375H86.8164V20.75H85.2539ZM94.9219 23.875V22.3125H96.4844V23.875H94.9219ZM104.297 23.875V22.3125H105.859V23.875H104.297ZM105.859 22.3125V20.75H107.422V22.3125H105.859ZM101.172 25.4375V14.5H90.2344V17.625H96.4844V19.1875H90.2344V25.4375H101.172ZM88.6719 27V12.9375H90.2344V11.375H91.7969V12.9375H102.734V23.875H104.297V25.4375H102.734V27H88.6719ZM102.734 12.9375V11.375H104.297V12.9375H102.734ZM91.7969 11.375V9.8125H93.3594V11.375H91.7969ZM104.297 11.375V9.8125H105.859V11.375H104.297ZM93.3594 9.8125V8.25H94.9219V9.8125H93.3594ZM107.422 20.75V9.8125H105.859V8.25H94.9219V6.6875H108.984V20.75H107.422Z" fill="white"/>
		</svg>
	</button>
</div>


<style>
	.card__item {
		width: 100%;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background-color: #0d0d0d;
		padding: 15px;
		height: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.card__item-block {
		content: "";
		display: flex;
		width: 100%;
		height: 130px;
		z-index: 0;

		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	.move-up {
		transform: translateY(-1000px);
		transition: transform 1s ease;
	}
</style>