<script lang="ts">
    import Card from './Card.svelte';
    import { socket } from '$lib/store/socket';
    import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
 
	export let room_status: string;
	export let roomConfig: any;
	export let room_id: string;

	/**
	 * Берет такого вида объект: {numPeaceful: 5, numMafia: 1, numDoctor: 2, numDetectives: 1}
	 * И превращает в такой вид: ["peaceful", "peaceful", "peaceful", "peaceful", "peaceful", "mafia", "doctor", "doctor", "detective"]
	 * Далее распалагает значения в случайном порядке в примерно такой вид:
	 * ['peaceful', 'peaceful', 'doctor', 'detectives', 'peaceful', 'mafia', 'doctor', 'peaceful', 'peaceful']
	 */
	let roomConfigArray = Object.entries(roomConfig).reduce((acc, [key, value]) => {
		return acc.concat(Array.from({ length: value }, () => key.slice(3).toLowerCase()));
	}, []).flatMap(item => item).slice().sort(() => Math.random() - 0.5);


	const activeCardButton = (event: any) => {
		console.log({room_id, user_id: window.localStorage.getItem("user_id"), cards: roomConfigArray });
		
		// Отправка запроса на выбор карты
		socket.emit("selectRoleCard", {room_id, user_id: window.localStorage.getItem("user_id"), cards: roomConfigArray });
	}

	// Ожидание ответа на выбор карточки
	// TODO: !!!Уязвимость!!! Нужно убрать в ответе index случайной роли полученного от сервера, так могут понять какую роль присвоили пользователю
	socket.on("roleUpdated", (arrayIndex) => {
		roomConfigArray.slice(arrayIndex);
		console.log({roomConfigArray, arrayIndex});
		// console.log(roomConfigArray.length);
		if (roomConfigArray.length === 0) {
			dispatch("handleButton", {
				status: "game_sesson",
			})
		}
	})
</script>

<div class="take_cards" class:hidden={ room_status !== "take_cards" }>
	<div class="card_list">
		{#each roomConfigArray as _, index}
			<Card id={ index } on:handleButton={ activeCardButton } />
		{/each}
	</div>
</div>

<style>
	.take_cards {
		width: 100%;
	}
	.take_cards .card_list {
		display: grid;
		grid-template-columns: repeat(5, 100px);
		width: 100%;
		gap: 5px;
		justify-content: flex-end;
	}

	.hidden {
		display: none;
	}
</style>